@import "variable.scss";
.index-main {
  .desktop-content {
    max-width: 1566px;
    width: 100%;
    flex: 1;
    .left-content {
      width: 50%;
      .starting-image {
        max-width: 95%;
        width: 525px !important;
        .image-explore {
          width: 450px !important;
          height: 500px !important;
          max-width: 100%;
        }
      }
      .image-basketball {
        width: 525px !important;
        height: 500px !important;
        max-width: 95%;
        margin-top: 50px;
      }
      h1 {
        margin-top: 50px;
        width: 525px !important;
        max-width: 95%;
        font-weight: 600;
      }
    }

    .right-content {
      width: 50%;
      .image-street {
        width: 80%;
        height: 650px !important;
        margin-bottom: 50px;
      }
      .image-trek {
        margin-top: 50px;
        width: 80%;
        height: 475px !important;
        margin-bottom: 50px;
      }

      h1 {
        margin-top: 30px;
        width: 80%;
        font-weight: 600;
      }
    }
  }
  .mobile-main {
    .image-mobile {
      width: 80%;
      height: 450px;
      border-radius: 10px;
      box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.075),
        0 3px 6px 0 rgba(19, 15, 64, 0.035);
    }
    h1 {
      width: 80%;
      font-size: $headingSizeMobile;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  .boxes {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.075),
      0 3px 6px 0 rgba(19, 15, 64, 0.035);
    height: 200px;
    h2 {
      font-size: $secondaryHeading;
    }
  }

  .image-main {
    margin-top: 150px;
    max-width: 100%;
    height: auto;
    width: 325px;
  }

  .text-main {
    margin-top: 50px;
    width: 80%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
  }

  i {
    margin-left: 10px;
  }

  .request-invite {
    margin-top: 50px;
    color: $primaryHeadingColor;
    margin-bottom: 50px;
  }
  .request-invite:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .end-section {
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 1280px) {
    .boxes {
      height: 275px;
    }
  }

  @media only screen and (max-width: 600px) {
    .desktop-content {
      .left-content {
        display: none;
      }

      .right-content {
        display: none;
      }
    }
    .boxes {
      height: 200px;
    }

    .image-main {
      margin-top: 50px;
    }
  }
}
