@import "variable.scss";

.form-main {
  .user-login-boxes {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .form-button-login {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-button-signup {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
