// Spacing
$mainLeftPadding: 7vw;
$mainRightPadding: 5vw;

//font
$fontHoverWeight: 500;
$paraFontSize: 20px;
$headingSize: 36px;
$headingFontWeight: 800;
$SecondaryHeadingWeight: 300;
$SecondaryHeadingText: "Nunito", sans-serif;
$anchorHover: 500;

//Colors
$primaryHeadingColor: #4caf50;
$primaryTextColor: black;
$primaryTextHover: #37474f;
$blackButtonText: #fff;
$primaryWhite: #fff;
$primaryBlack: #37474f;
$primaryBlackHover: #616161;
$primaryTextShadow: #37474f;
$primaryGreen: #4caf50;
$hoverGreenColor: #388e3c;
$boderBoxPrimary: #bdbdbd;
$primaryYellow: #fbc02d;
$anchorHover: #fbc02d;
$seondaryBackgroundColor: #f5f5f5;
$lightGreenBackgroundColor: #e8f5e9;
